body{
    margin: 0;
    text-align: center;
    background-color:rgb(202, 201, 201);

    .para{
        text-align: left;
    }
    .list{
     text-align: left;   
    }
    .btn{
        background-color: rgb(0, 26, 83);
        color: white;
    }
}

header{
    margin: 0;
    text-align: center;
    background-color:rgb(0, 0, 0);
    


    
}