body{
    margin: 0;
    text-align: center;
    background-color:rgb(202, 201, 201);

    .para{
        text-align: left;
    }
    .list{
     text-align: left;   
    }
    .btn{
        background-color: chartreuse;
    }
}

header{
    display:grid;
    background-color:cadetblue;
    text-align: center;
    
}